html{
    background-color: burlywood;
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 4px;
    cursor: pointer;
    
}
.wrapper{
    background-color: wrgb(17, 0, 255);
    margin: 25px;
    padding: 25px;
}
